<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @post.user.name %><br>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.description %>
    </p>
    <div class="comments" id="comments_<%= @post.id %>">
      <% if @post.postcomments %>
      <div class="comment">
        <%= render @post.postcomments, post: @post %>
      </div>
      <% end %>
    </div>
    <div class="comment-form col-sm-11">
        <%= form_for([@post.user,@post, @post.postcomments.build], remote: true) do |f| %>
          <%= f.select :score,[0,1,2,3,4,5], class: "comment_content", id: "comment_content_#{@post.id}" %>
          <%= f.text_area :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{@post.id}"%>
          <%= f.submit class: 'btn btn-default' %>
        <% end %>
      </div> 
    <div class="text-center">
      <%= link_to "Back", root_path %>
    </div>
  </div>
</div>
